.main-button {
  border: none;
  color: white;
  font-family: Montserrat;
  font-size: 10px;
  border-radius: 3px;
  background-color: rgba(70, 130, 180, 1);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
}
.main-button:hover {
  color: rgba(70, 130, 180, 1);
  background-color: white;
  cursor: pointer;
}
.uk-button.uk-button-default {

border-radius: 4px;
padding: 2px;
}
