section {
  margin-top: 30px;
  overflow: hidden;
}

#what {
  padding: 0 10px;
  color: #696969;
  font-family: Montserrat;
}

.section-title {
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 5px 0px;
  border-radius: 4px;
  background: rgba(0, 170, 238, 0.5);

}

.col-content {
  text-align: center;
}

.card-icon {
  font-size: 60px;
  color: rgba(0, 170, 238, 0.5);
}

.article-title {
  height: 70px;
  text-transform: none;
  color: white;
  background: rgba(0, 170, 238, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.article-description {
  font-size: 10px;
}

.uk-dropdown {
  color: white;
  background-color: rgba(0, 170, 238, 1);
  font-size: 10px;
}

.section-subtitle {
  color: #E0FFFF;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background: rgba(0, 170, 238, 0.5);
}

.section-content {
  text-align: center;
  font-size: 12px;
}

#profit {
  padding: 0 10px;
  color: #696969;
  font-family: Montserrat;
}

.card-head {
  padding: 10px;
  height: 150px;
  border-top-left-radius: 4px;
  text-transform: none;
  color: white;
  background-color: rgba(70, 130, 180, 1);
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

.card-body {
  background-color: rgba(0, 170, 238, 0.9);
  height: 100%;
  color: white;
  padding-bottom: 20px;

}

.profit-items>li {
  font-size: 10.5px;
  padding: 10px;
  display: block;
  font-weight: bolder;

}

.uk-position-center-left {
  display: none;
}

.uk-position-center-right {
  display: none;
}

.underline {
  text-decoration: underline;
  font-weight: bolder;
}

.title-icon {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.profit-items>li::after {
  content: '';
  background-image: url(../../images/ok.png);
  position: inherit;
  opacity: 0.3;
  background-repeat: no-repeat;
  z-index: -2;
  top: 60%;
  left: 60%;
  transform: translateY(50%);
  transform: translateX(-50%);
  right: 0;
  bottom: 0;
}

#price {
  padding: 0 10px;
  color: #696969;
  font-family: Montserrat;
}

#admins {
  padding: 0 10px;
  color: #696969;
  font-family: Montserrat;
}

article {
  padding: 10px 10px;
}

ul.uk-comment-meta.uk-subnav.uk-subnav-divider>li>a {
  text-transform: none;
  font-size: 10px;
  width: 200px;
}

.uk-link-reset {
  font-size: 12px;
}

.uk-comment-body {
  font-size: 12px;
}

.number-footer-list>li {
  display: block;
}

.number-footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uk-text-center>*>* {
  background: none;
  border: none;
  box-shadow: none;
}

.row-item {
  padding-top: 20px;
  color: white;
  font-weight: bolder;
}

.footer-row {
  background: linear-gradient(to right, #373b44, #4286f4);
}

div.footer-row-rw {
  display: flex;
  align-items: center;
}

.footer-title {
  display: block;
  padding: 10px;
  font-size: 12px;
  color: white;
}

.col-1-3>ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.logo-footer {
  padding-top: 5px;
  padding-left: 10px;
}

.copy {
  color: white;
  font-size: 10px;
  background-color: rgba(70, 130, 180, 1);
}

.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 0 20px;
  background: linear-gradient(to right, #373b44, #4286f4);
  animation-name: showheader;
  animation-duration: 1s;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

@keyframes showheader {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@media only screen and (min-width: 600px) {
  .section-title {
    font-size: 20px;
  }

  .title-icon {
    font-size: 35px;
  }

  .uk-button.uk-button-default {
    font-size: 20px;
    line-height: 25px;
    padding: 0 100px;
  }

  button.uk-button.uk-button-default.burger-but {
    padding: 10px;
  }

  .section-subtitle {
    font-size: 20px;
  }

  .article-description {
    font-size: 15px;
  }

  .section-content {
    font-size: 20px;
  }

  .card-head {
    font-size: 20px;
    line-height: 30px;
  }

  .uk-position-center-left {
    display: block;
  }

  .uk-position-center-right {
    display: block;
  }

  .uk-active {
    font-size: 25px;
  }

  .profit-items>li {
    margin-top: 30px;
    font-size: 25px;
  }

  .profit-items>li::after {
    background-size: contain;
  }

  .title-main {
    font-size: 20px;
  }

  .icon-perm_identity {
    font-size: 40px;
  }

  .footer-title {
    font-size: 20px;
  }
}
